[submodule "lib/lua54.c3l"]
	path = lib/lua54.c3l
	url = https://github.com/MiguelCock/lua54.c3l.git
[submodule "lib/tree_sitter_c3.c3l/upstream"]
	path = lib/tree_sitter_c3.c3l/upstream
	url = https://github.com/c3lang/tree-sitter-c3.git
[submodule "lib/tree_sitter_python.c3l/upstream"]
	path = lib/tree_sitter_python.c3l/upstream
	url = https://github.com/tree-sitter/tree-sitter-python.git
[submodule "lib/tree_sitter_javascript.c3l/upstream"]
	path = lib/tree_sitter_javascript.c3l/upstream
	url = https://github.com/tree-sitter/tree-sitter-javascript.git
[submodule "lib/tree_sitter.c3l/upstream"]
	path = lib/tree_sitter.c3l/upstream
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "lib/tree_sitter_c.c3l/upstream"]
	path = lib/tree_sitter_c.c3l/upstream
	url = https://github.com/tree-sitter/tree-sitter-c.git
[submodule "lib/tree_sitter_go.c3l/upstream"]
	path = lib/tree_sitter_go.c3l/upstream
	url = https://github.com/tree-sitter/tree-sitter-go
[submodule "lib/tree_sitter_rust.c3l/upstream"]
	path = lib/tree_sitter_rust.c3l/upstream
	url = https://github.com/tree-sitter/tree-sitter-rust
[submodule "lib/tree_sitter_zig.c3l/upstream"]
	path = lib/tree_sitter_zig.c3l/upstream
	url = https://github.com/tree-sitter-grammars/tree-sitter-zig
[submodule "lib/tree_sitter_odin.c3l/upstream"]
	path = lib/tree_sitter_odin.c3l/upstream
	url = https://github.com/tree-sitter-grammars/tree-sitter-odin
[submodule "lib/tree_sitter_nim.c3l/upstream"]
	path = lib/tree_sitter_nim.c3l/upstream
	url = https://github.com/alaviss/tree-sitter-nim
[submodule "lib/tree_sitter_cpp.c3l/upstream"]
	path = lib/tree_sitter_cpp.c3l/upstream
	url = https://github.com/tree-sitter/tree-sitter-cpp
[submodule "lib/tree_sitter_v.c3l/upstream"]
	path = lib/tree_sitter_v.c3l/upstream
	url = https://github.com/nedpals/tree-sitter-v
[submodule "lib/tree_sitter_java.c3l/upstream"]
	path = lib/tree_sitter_java.c3l/upstream
	url = https://github.com/tree-sitter/tree-sitter-java
[submodule "lib/tree_sitter_kotlin.c3l/upstream"]
	path = lib/tree_sitter_kotlin.c3l/upstream
	url = https://github.com/fwcd/tree-sitter-kotlin
[submodule "lib/tree_sitter_scala.c3l/upstream"]
	path = lib/tree_sitter_scala.c3l/upstream
	url = https://github.com/tree-sitter/tree-sitter-scala
[submodule "lib/tree_sitter_c_sharp.c3l/upstream"]
	path = lib/tree_sitter_c_sharp.c3l/upstream
	url = https://github.com/tree-sitter/tree-sitter-c-sharp
